annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.13.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2026.5.20 ; python_version >= "3.11" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.13"
idna==3.18 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.46.4 ; python_version >= "3.11" and python_version < "3.13"
pydantic-settings==2.14.1 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.13.4 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.20.0 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "3.13"
rich==15.0.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
